body {
background: linear-gradient(to right, #F6EFD2, #CEAD78);
color: #600000;
margin-left: 30px;
}

h1 {text-align: center; font-family: "Impact", sans-serif;}
h2 {margin-left: 41%;   font-size: 28px; font-family: "Monotype Corsiva", sans-serif;}
h3 {font-size: 24px; font-family: "Monotype Corsiva", sans-serif;}
p {font-size: 18px; font-family: "Times New Roman", sans-serif;}

.myfoto {
float: left;
width: 250px;
height: 250px;
border: 5px solid #d77d3173; 
border-radius: 15px; 
margin-left:10%;
}


a {
  padding: 7px 10px 7px 10px;
  border-radius: 15px;
  text-decoration: none;
  color: #40382D;
  box-shadow: inset 0 -4px 0 #40382D;
}

a:hover {
  box-shadow: inset 0 -60px 0 #40382D, 2px 2px 3px rgba(0,0,0,0.3);
  color: #DECDA5;}

.a a {box-shadow: inset 0 -10px 0 #40382D;}
.a a:hover {box-shadow: inset 0 -4px 0 #40382D, 2px 2px 3px rgba(0,0,0,0.3);}

.blok {
background: #fffff1;
border-spacing: 5px;
width: 100%;
height: 300px;
font-family: "Impact";
font-size: 20px;
border-radius: 15px;
text-align: center;
}

.blok td{transition: 2s;}
.blok th{transition: 2s;}

.blok td:active {color: #f9e497; background: #1779ba;}
.blok th:active {color: #f9e497; background: #73ab16;}

.blok1:hover {background: #8592ff;}
.blok2:hover {background: #50ffca;}
.blok3:hover {background: #8592ff;}
.blok4:hover {background:  #d460ff;}
.blok5:hover {background: #d9ff50;}
.blok6:hover {background: #ffc450;}


input{
   border: 3px solid #d77d3173; 
   border-radius: 10px; 
   background: #f6efd2; 
   height: 35px; 
   width: 300px;
   outline: none;
   color: #600000; 
   font-size: 20px; 
   font-family: Monotype Corsiva; 
}

textarea {
  border: 3px solid #d77d3173; 
   border-radius: 10px; 
   background: #f6efd2; 
   outline: none;
   height: 100px; 
   width: 300px;
   color: #600000; 
   font-size: 20px; 
   font-family: Monotype Corsiva;
}

input:focus {
  color: #000000;
  border: 7px solid #fe84179e;
}

textarea:focus {
  color: #000000;
  border: 7px solid #fe84179e;
}

button {
  position: relative;
  font-weight: bold;
  color: white;
  text-decoration: none;
  text-shadow: 0 -1px 1px #cc5500;
  user-select: none;
  padding: .8em 2em;
  outline: none;
  border-radius: 1px;
  background: linear-gradient(to left, rgba(0,0,0,.3), rgba(0,0,0,.0) 50%, rgba(0,0,0,.3)), linear-gradient(#d77d3180, #fe84177a, #d77d319e);
  background-size: 100% 100%, auto;
  background-position: 50% 50%;
  box-shadow: inset #ebab00 0 -1px 1px, inset 0 1px 1px #ffbf00, #cc7722 0 0 0 1px, #000 0 10px 15px -10px;
  transition: 0.2s;
}
button:hover {
  background-size: 140% 100%, auto;
}
button:active {
  top: 1px;
  color: #ffdead;
  box-shadow: inset #ebab00 0 -1px 1px, inset 0 1px 1px #ffbf00, #cc7722 0 0 0 1px, 0 10px 10px -9px #000;
}